<script type='text/x-handlebars-template' id='faostat_ui_menu_structure'>

            <nav class='navbar navbar-default' role='navigation'>
                <div class='navbar-header'>
                    <button type='button' class='navbar-toggle collapsed' data-toggle='collapse'
                            data-target='#navbar-collapse'>
                        <span class='sr-only'>{{toggle_navigation}}</span>
                        <span class='icon-bar'></span>
                        <span class='icon-bar'></span>
                        <span class='icon-bar'></span>
                    </button>
                    <a class='navbar-brand' href='{{home_link}}'>
                        <!--<img src="src/images/faostat-logo-blue.svg" alt="Faostat">-->
                        <img src="src/images/faostat-logo-white.svg" alt="Faostat">
                    </a>
                </div>
                <div class='collapse navbar-collapse' id='navbar-collapse'>
                    <ul class='nav navbar-nav navbar-left'>
                        <!--<li class="active">-->
                            <!--<a href='{{home_link}}'><i class='fa fa-home'></i></a>-->
                        <!--</li>-->
                        <li id="fs-menu-download" class='dropdown'>
                            <a href='#' class='dropdown-toggle' data-toggle='dropdown' role='button' aria-expanded='false'>{{download}}</a>
                            <ul class='dropdown-menu' role='menu' id='download_dropdown'></ul>
                        </li>
                        <li id="fs-menu-browse" class='dropdown'>
                            <a href='#' class='dropdown-toggle' data-toggle='dropdown' role='button' aria-expanded='false'>{{browse}}</a>
                            <ul class='dropdown-menu' role='menu' id='browse_dropdown'></ul>
                        </li>
                        <li id="fs-menu-compare" class="active">
                            <a href='{{compare_link}}'>{{compare}}</a>
                        </li>
                        <li id="fs-menu-standards">
                            <a href='{{mes_link}}'>{{mes}}</a>
                        </li>
                    </ul>

                    <ul class='nav navbar-nav navbar-right'>
                        <li id="fs-menu-languages" class='pull-right dropdown'>
                            <a href='#' class='fs-lang-btn dropdown-toggle' data-toggle='dropdown' role='button' aria-expanded='false'> <span class="domain-icon icojam_location_1"></span></a>
                            <ul class='dropdown-menu' role='menu' id='download_dropdown'>

                                <li><a href="#" >English</a></li>
                                <li><a href="#" >Français</a></li>

                                <li><a href="#" >Español</a></li>

                            </ul>
                        </li>
                        <li id="fs-search" class="pull-right fs-menu-search-container">
                            <span class="icojam_search pull-left fs-search-icon"></span> <input data-role="search" placeholder="Search Data" class="typeahead" type="text" placeholder="{{search_data}}">
                        </li>
                    </ul>

                </div>
            </nav>


        <!--<div class='col-lg-2 hidden-xs hidden-md hidden-sm' style='padding-top: 6px;'>-->
            <!--<input class='form-control input-sm' style='width: 100%;' placeholder='Search...'>-->
        <!--</div>-->

</script>

<script type='text/x-handlebars-template' id='faostat_ui_menu_item'>
    {{#each group}}
        <li>
            <a href='{{item_link}}'>
                {{item_title}}
            </a>
        </li>
    {{/each}}
</script>